<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <h1 class="head">Hello, <%= @user.name.capitalize %>!</h1>
    <h2 class="subhead">Here's a preview of the sales that have been made recently:</h2>
    
    <% @sales.sort_by(&:created_at).reverse.each do |sale| %>
      <h3><%= sale.user.name%> made $<%= sprintf '%.2f', sale.amount %> on <%= sale.created_at.strftime("%B %d, %Y") %></h3>
    <% end %>
    <br>
  </body>
</html>
