
<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <h1>Sign Up</h1>
    <img src="images/signup.png">

    <section>
      <form action="/signup" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br><br>
        
        <label for="password">Password: </label>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Sign Up">
      </form>
    </section>

  </body>
</html>
