<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <h1 class="head">Sign Up</h1>
    <img src="images/signup.png">



    <section>
      <form action="/users" method="post">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email: </label>
        <input type="text" id="email" name="email"><br><br>
        
        <label for="password">Password: </label>
        <input type="text" id="password" name="password"><br><br><br>

        <button type="submit" class="enter">Sign Up</button><br><br>
      </form>

      <button class="enter"><a href="/" class="plain">Back Home</a></button>
    </section>
  </body>
</html>
