<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <h1>Sign Up</h1>
    <img src="images/signup.png">

    <section>
      <form action="/users" method="post">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email: </label>
        <input type="text" id="email" name="email"><br><br>
        
        <label for="password">Password: </label>
        <input type="text" id="password" name="password"><br>

        <input type="submit" value="Sign Up">
      </form><br>

      <button class="enter"><a href="/" class="plain">Back Home</a></button>
    </section>

  </body>
</html>
