
<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
  </head>
  <body>
    <div>
      <h1>Online Sales Tracker</h1><br> 
      <img src="images/money.png">

      <section>
        <h2>Welcome to the Online Sales Tracker! We're your one stop shop for tracking your sales and revenue made from your online business.</h2>
        <h2>Please <a href="/signup" style="color: #a4c948">sign up</a> or <a href="/login" style="color: #a4c948">login</a> to continue.</h2>
      </section>
    </div><br>
    
    <div class="footer">
      <a href="https://www.iconfinder.com" target="_blank" class="plain">Icons by Iconfinder</a>
    <div>
  </body>
</html>
