
<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <h1>Online Sales Tracker</h1><br> 
    <%# ✽ %>
    <img src="images/money.jpg" attr>
    <section>
      <h2>Welcome to the Online Sales Tracker! Here, you can log your sales made on Depop, Poshmark, Mercari, and more!</h2>
      <h3>Please <a href="/new">create an account</a> or <a href="/login">sign in</a> to continue.</h3>
    </section>
  </body>
</html>
