<!DOCTYPE html>

  <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Online Sales Tracker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel ="icon" href="icon.png"> 
  </head>
  <body>
    <div>
      <br>
      <% if flash[:message] %>
        <p class="success"><%= flash[:message] %></p>
      <% end %> 

      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>

      <% if logged_in? %>
        <nav>
          <button class="bar"><a href="/" class="plain">Dashboard</a></button>
          <button class="bar"><a href="/sales" class="plain">View My Sales</a></button>
          <button class="bar"><a href="/sales/new" class="plain">Add a New Sale</a></button>
          <button class="logout bar"><a href="/logout" class="plain">Logout</a></button>
        </nav>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
