<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <h1 class="head">Edit Sale <span class="glyphicon glyphicon-pencil"></h1>

    <section>
      <form action="/sales/<%= @sale.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="patch">

        <label for="title">Title: </label>
        <input type="text" id="title" name="title" value="<%= @sale.title %>"><br><br>
        
        <label for="amount">Amount: $</label>
        <input type="text" id="amount" name="amount" value="<%= @sale.amount %>"><br><br>
        
        <button type="submit" class="enter">Update Sale</button><br><br>
      </form>

      <button class="enter"><a href="/sales" class="plain">Back to Sales</a></button>
    </section>
  </body>
</html>