<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <nav>
      <button class="bar"><a href="/" class="plain">Profile</a></button>
      <button class="bar"><a href="/sales/new" class="plain">Add a New Sale</a></button>
      <button class="logout bar"><a href="/logout" class="plain">Logout</a></button>
    </nav>

    <h1 class="head">Current total revenue: $<%= total_revenue(current_user) %></h1>

    <h2 class="subhead">Here are your sales:</h3>
    <img src="images/sale.png"> 

    <% @sales.each do |sale| %>

      <% if authorized_edit?(sale) %>
        <section>
          <h3><a href="/sales/<%= sale.id %>" class="sale"><%= sale.title %>: $<%= sale.amount.to_i %></a></h3>
        </section>
      <% end%>

    <% end %>

  </body>
</html>










