<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <nav>
      <button class="bar"><a href="/" class="plain">Profile</a></button>
      <button class="bar"><a href="/sales" class="plain">View My Sales</a></button>
      <button class="logout bar"><a href="/logout" class="plain">Logout</a></button>
    </nav>

    <h1 class="head">New Sale</h1>

    <section>
      <form action="/sales" method="post">
        <label for="title">Title: </label>
        <input type="text" id="title" name="title"><br><br>
        
        <label for="amount">Amount: $</label>
        <input type="text" id="amount" name="amount"><br><br><br>
        
        <button type="submit" class="enter">Add Sale</button>

      </form><br>

      <button class="enter"><a href="/" class="plain">Back to Profile</a></button>
    </section>

  </body>
</html>
