<!DOCTYPE html>
<html>
  <head>
    <title>Online Sales Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pages.css"/>
  </head>
  <body>
    <h1 class="head">New Sale</h1>

    <section>
      <form action="/sales" method="post">
        <label for="title">Title: </label>
        <input type="text" id="title" name="title"><br><br>
        
        <label for="amount">Amount: $</label>
        <input type="text" id="amount" name="amount"><br><br>
        
        <button type="submit" class="enter">Add Sale</button><br><br>
      </form>

      <button class="enter"><a href="/" class="plain">Back to Dashboard</a></button>
    </section>
  </body>
</html>
